@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script>
        if (window.top !== window.self) { // is the outermost document not this document?
            window.parent.postMessage("", "*");
        }
        else {
            window.close();
        }
    </script>
</head>
<body>
    <div>
        <b>Your login was successful. You can close this page.</b>
    </div>
</body>
</html>
